<div class="card" >
  <div class="card-body" >
    <h3 class="card-title"><%=post.title%></h3>
    <h6 class="by" style="display:inline">by </h6><h6 class="username" style="display:inline"><a href="/user/<%=post.username%>"><%=post.username%></a></h6>
    <hr>
    <% var body = post.body.substring(0, 100) %>
    <% body = body.substring(0,body.lastIndexOf(" ")) %>
    <p class="card-text"><%=body%><span><a href="/post/<%=post.id%>"> ...Read More</a></p>
      <div class="d-flex justify-content-between align-items-center">
        <div class="btn-group">
          <form class="align-self-end" action="/post/<%=post.id%>">
            <button type="submit" class="align-self-end btn btn-sm btn-outline-secondary">View</button>
          </form>
        </div>
        <% var charPerMin = 1250; %>
        <% var secTaken = Math.round((post.body.length/charPerMin)*60); %>
        <% if(secTaken < 90){%>
          <small class="align-self-end text-muted">Read time : <%=secTaken%> seconds</small>
          <%}%>
          <%if(secTaken > 90){%>
            <%var mins = Math.round(secTaken/60); %>
            <small class="align-self-end text-muted">Read time : <%=mins%> minutes</small>
            <%}%>

          </div>
        </div>
      </div>
