<%- include("partials/header"); -%>

<title></title>
<link rel="stylesheet" href="/css/account.css">
</head>
<body>
<%- include('partials/nav',{currentUser:currentUser}); -%>

  <div class="container">

    <h1 class="card-title mt-5 ml-2">Settings</h1>
    <div class="card mt-4">
      <div class="card-body" style="clear: both">

        <img class="profile-pic" style="height:20%;width:20%" src=<%=url%>>


          <div style="display:block;text-align:center;margin-top:10px">
            <form method="post" action='/update-picture'>
          <input style="width:30%;display:block;margin:0 auto;background:transparent;text-align:center" class="lined form-control card-text body-box" type="text" name="url" placeholder="image url">
          <button  type="submit" class="btn btn-sm btn-outline-secondary mt-2" name="button">Update Profile Picture</button>
        </form>
          <p class="text-muted mt-2">Must be JPEG, PNG, or GIF and cannot exceed 10MB.</p>
          <div>
      </div>
    </div>


    <h4 class="card-subtitle mt-5">Profile Settings</h4>
    <h6 class="text-muted mt-1">Change identifying details for your account</h6>


    <div class="card">
      <div class="card-body" >
        <div class="vertical-center">
          <p class="card-subtitle username-text">Bio</p>
        </div>
        <div class="username-div mt-4 ml-3">
          <form method='post' action="/update-bio">
          <textarea class="bio-box" name="bio" style="width:87%" placeholder="<%=bio%>"></textarea>
          <p class="text-muted mt-2">Who you are in fewer than 300 characters</p>
          <button type="submit" class="btn btn-sm btn-outline-secondary" name="button">Update</button>
        </form>
        </div>
      </div>
    </div>


    <!--
    <h4 class="card-subtitle mt-5">Disabling Your Account</h4>
    <h6 class="text-muted mt-1">Completely deactivate your account</h6>

    <div class="card mt-4">
      <div class="card-body" >
        <div class="vertical-center">
          <p class="card-subtitle username-text" style="float:left">Disable Your Account</p>
        </div>
        <div style="float:left" class="disable-div mt-4">
          <button type="button" class="btn btn-sm btn-outline-secondary" name="button">Disable Account</button>
          <p class="text-muted mt-2">Password confirmation required</p>
        </div>
      </div>
    </div>
    --!>

  </div>
<script src="/js/account.js"></script>
</body>
<%- include("partials/footer"); -%>
