<%- include("partials/header"); -%>
<title>Vakyareeti</title>
<link rel="stylesheet" href="/css/feed.css">
</head>

<body>
  <%- include("partials/nav"); -%>


  <div class="container-fluid">
      <h1 class="card-title mb-0" style="display:block;font-weight:bold">Following</h1>

    <div class="row">

      <div class="col-md-8">
              <hr class="mb-5">
        <% for(var i=0;i<posts.length;i++) {%>
          <div class=" mb-2">
              <%- include("partials/feed-card",{post:posts[i]}); -%>
            </div>
            <%}%>
          </div>

          <div class="col-lg-3">
            <%- include("partials/sidebar"); -%>
          </div>
        </div>
      </div>

<%- include("partials/footer"); -%>
