<%- include("partials/header"); -%>
<title>Vakyareeti</title>
<link rel="stylesheet" href="/css/feed.css">
</head>

<body>
  <%- include("partials/nav"); -%>

  <div class="container-fluid">

    <div class="row">

      <div class="">
        <% for(var i=0;i<posts.length;i++) {%>
          <div class="row ml-2 mb-2">
              <%- include("partials/feed-card",{post:posts[i]}); -%>
            </div>
            <%}%>
          </div>

          <div class="col-lg-3">
            <%- include("partials/sidebar"); -%>
          </div>
        </div>
      </div>

<%- include("partials/footer"); -%>
