<%- include("partials/header"); -%>
<!-- Page Content -->
  <img class="img-responsive w-100" src="img/logo.jpg" alt="!title">
  <div class="container">

    <div class="row">

        <div class="col-12">

          <div style="white-space: pre-wrap">
            <h1><%=title%></h1>
            <h5>By <a href="#"><%=username%></a> DATE</h5>
            <div class="container">
              <p><%=body%></p>
            </div>
          </div>
          <h3 class="votes"><%=votes%></h3>
          <a href="#" id='upvote' onclick="upvote('<%=id%>')">upvote</a>
          <a href="#" id='downvote' onclick="downvote('<%=id%>')">Downvote</a>
        </div>
        <!-- /.col-lg-9 -->

      </div>
      <!-- /.row -->

    </div>
    <script src="/js/socket.io.js"></script>
    <script src="/js/vote.js"></script>
    <%- include("partials/footer"); -%>
