<%- include("partials/header"); -%>
  <link href="/css/post.css" rel="stylesheet">
<title><%=title%></title>
<link href="https://fonts.googleapis.com/css?family=Ubuntu:wght@300|Montserrat" rel="stylesheet">
</head>

<body>
    <%- include("partials/nav"); -%>
    <%- include("partials/share"); -%>

    <% if(currentUser === ''){%>

    <%} %>
    <% if (currentUser !== ''){%>
    <div class="button-bar">
      <div>
      <button class="btn btn-outline-success" id='upvote' onclick="upvote('<%=id%>')"><i class="fa fa-angle-double-up"></i></button>
      </div>
      <div>
      <p class="votes"><%=votes%></p>
      </div>
      <div>
      <button class="btn btn-outline-danger" id='downvote' onclick="downvote('<%=id%>')"><i class="fa fa-angle-double-down"></i></button>
      </div>
    </div>
    <%}%>
  <div class="container">

    <div class="row">

      <div class="col-lg-8">

        <h1 class="mt-4 card-title"><%=title%></h1>

        <p class="lead card-subtitle">
          by
          <a href="/user/<%=username%>"><%=username%></a>
        </p>

        <hr>
        <% var datetime = createdAt; %>
        <% var date = datetime.getDate().toString() +"/"+ datetime.getMonth().toString()+"/"+datetime.getFullYear().toString() ; %>
        <% var time = datetime.getHours().toString() +":"+datetime.getMinutes().toString(); %>
        <p class="card-text text-muted">Posted on <%=date%> at <%=time%></p>

        <hr>

        <!-- Post Content -->
        <p class="card-text" style="white-space: pre-wrap"><%=body%></p>

        <hr>

        <div style="text-align: center">
          <% if(currentUser === ""){%>
            <button disabled class="btn btn-outline-success" ><i class="fa fa-angle-double-up"></i></button>
            <span id='votecountbottom' class="votes"><%=votes%></span>
            <button disabled class="btn btn-outline-danger"><i class="fa fa-angle-double-down"></i></button>
            &nbsp;&nbsp;
            <button class="btn btn-outline-warning"><i class="fa fa-bookmark"></i></button>
            <button class="btn btn-outline-primary" onclick="sharePost('<%=id%>')"><i class="fa fa-share"></i></button>
            <p class="text-muted"> Login to vote </p>
          <%} %>
          <% if (currentUser !== ""){%>
            <button class="btn btn-outline-success" id='upvote' onclick="upvote('<%=id%>')"><i class="fa fa-angle-double-up"></i></button>
            <span id='votecountbottom' class="votes"><%=votes%></span>
            <button class="btn btn-outline-danger" id='downvote' onclick="downvote('<%=id%>')"><i class="fa fa-angle-double-down"></i></button>
            &nbsp;&nbsp;
            <button class="btn btn-outline-warning"><i class="fa fa-bookmark"></i></button>
            <button class="btn btn-outline-primary" onclick="dlgOpn()" class="modal-open"><i class="fa fa-share"></i></button>
          <%}%>

        </div>


      </div>

      <div class="col-md-4">
        <%- include("partials/sidebar"); -%>
      </div>

    </div>
    <!-- /.row -->

  </div>
  <!-- /.container -->

  <script src="/js/socket.io.js"></script>
  <script src="/js/vote.js"></script>
  <%- include("partials/footer"); -%>
