<%- include("partials/header"); -%>
<!-- Page Content -->
  <img class="img-responsive w-100" src="img/logo.jpg" alt="!title">
  <div class="container">

    <div class="row">


      <!-- /.col-lg-3 -->

      <div class="col-9">

        <div class="col-12">

          <div style="white-space: pre-wrap">
            <h1><%=title%></h1>
            <h5>By <a href="#"><%=username%></a> DATE</h5>
            <div class="container">
              <p><%=body%></p>
            </div>
          </div>

        </div>
        <!-- /.col-lg-9 -->

      </div>
      <!-- /.row -->

    </div>

    <%- include("partials/footer"); -%>
