<%- include("partials/header"); -%>
<title>Vakyareeti</title>
<link rel="stylesheet" href="/css/explore.css">
<link rel="stylesheet" href="/css/user.css">
</head>

<body id="body">
  <%- include("partials/nav"); -%>

  <div class="container-fluid">
    <div class="row">
      <div class="col-6">
        <div class="card-body" style="clear: both; background:transparent">
        <img class="profile-pic" style="height:20%;width:20%;border-radius:50%" src="<%=profilePic%>">
      </div>
        <h3 class="card-title mt-5"><%=name%></h3>
        <h5 class="card-title">(<%=username%>)</h5>
        <p class="card-text"><%=bio%></p>
        <%if(!followed){%>
        <button type="button" class="align-self-end btn btn-sm btn-outline-secondary followBtn" onclick="follow('<%=username%>','<%=currentUser%>')">Follow</button>
        <%}%>
        <%if(followed){%>
        <button type="button" class="align-self-end btn btn-sm btn-outline-secondary followBtn" onclick="unfollow('<%=username%>','<%=currentUser%>')">Unfollow</button>
        <%}%>
      </div>
      <div class="col-6">

      </div>
    </div>
    <hr>
    <div class="row">
      <div class="row equal">
        <% for(var i=0;i<posts.length;i++) {%>
          <div class="col-sm-4 d-flex pb-4">
            <%- include("partials/explore-card",{post:posts[i]}); -%>
          </div>
        <%}%>
      </div>

    </div>

  </div>
  <script src="/js/socket.io.js"></script>
  <script src="/js/follow.js"></script>
<%- include("partials/footer"); -%>
