<%- include("partials/header"); -%>
<title>Vakyareeti</title>
<link rel="stylesheet" href="/css/explore.css">
<link rel="stylesheet" href="/css/user.css">


</head>

<body id="body">
  <%- include("partials/nav"); -%>

  <div class="container-fluid">
   
   
    <div class="row">
      <div class="col-4">
        <div class="dp">
          <img height="200" width="200" class="img-fluid" src="<%=profilePic%>">
        </div>
      </div>
      <div class="col-8">
        <span class="card-title name"><%=name%></span>
        <span class="uname">[<%=username%>]</span>

        <br>
        <button type="button" class="btn btn-sm btn-outline-secondary followBtn"  
          <%if(!followed){%>
             onclick="follow('<%=username%>','<%=currentUser%>')">
             Follow
           <%}%>
           <%if(followed){%>
              onclick="unfollow('<%=username%>','<%=currentUser%>')">
              Unfollow
           <%}%>
        </button>
      </div>
      <div class="bio">
        Hey, I am a writer
      </div>
    </div>

    <hr>

    <div class="row">
      <div class="row equal">
        <% for(var i=0;i<posts.length;i++) {%>
          <div class="col-sm-4 d-flex pb-4">
            <%- include("partials/explore-card",{post:posts[i]}); -%>
          </div>
        <%}%>
      </div>

    </div>

  </div>
  <script src="/js/socket.io.js"></script>
  <script src="/js/follow.js"></script>


<%- include("partials/footer"); -%>
